<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='static/css/style.css'>
    <title>PYTHAGORAS CALCULATOR</title>
</head>
<body>

<main class="container">
    <h1>PYTHAGORAS CALCULATOR</h1>
    <p>INFORME OS VALORES</p>
    <form action="{{ url_for('calculaHipotenusa')}}" method="POST">
        <p>Cateto Oposto: <input type="text" name="catetoA"></p>
        <p>Cateto Adjacente: <input type="text" name="catetoB"></p>
        <button type="submit" href="templates/resultadoHipotenusa.html">ENVIAR</button>
      </form>
</main>

</body>
</html>