<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='static/css/style.css'>
    <title>PYTHAGORAS CALCULATOR</title>
</head>
<body>

<section class="segundo-container">
    <h3>Valor do cateto adjacente:</h3>
    <p>{{value}}</p>
    <p>Pois: CatetoAdj = √(Hipotenusa² - CatetoOp²)</p>
    <br>
    <a href="/"><button>VOLTAR</button></a>

  
</section>

</body>
</html>